<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab5.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestTest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/index">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Question/Index">Pytania</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Answer/Index">Odpowiedzi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Exam/List">Testy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page ="/Group/List">Grupy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Exam/ExamList">Aktywne testy</a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="darkModeDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-adjust"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="darkModeDropdown">
                            <a class="dropdown-item" href="#" onclick="setTheme('light')">
                                <i id="sunIcon" class="fas fa-sun"></i> Tryb jasny
                            </a>
                            <a class="dropdown-item" href="#" onclick="setTheme('dark')">
                                <i id="moonIcon" class="fas fa-moon"></i> Tryb ciemny
                            </a>
                        </div>
                    </div>-->
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TestTest
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
