@page
@model ProjektInzynierski.Pages.Exam.AddQuestionModel

@{
    ViewData["Title"] = "Dodaj pytanie";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Dodaj pytanie</h1>

<table class="table">
    <tr>
        <td class="text-muted">
            Tytuł
        </td>
    </tr>
    @if (Model.wysTest.ListaPytan != null)
    {
        <tr>
            <td class="text-muted">
                Pytanie
            </td>
        </tr>
        foreach (var pyt in Model.wysTest.ListaPytan)
        {
            <tr>
                <td class="text1">
                    @Html.DisplayFor(x => pyt.IdPytanieNavigation.Tresc)
                </td>
            </tr>
        }
    }
</table>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-route-id="@ViewBag.IdTest">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ListaPytan.IdPytanie" class="control-label">Wybierz pytanie</label>
                    <select asp-for="ListaPytan.IdPytanie" class="form-control" asp-items="ViewBag.IdPytanie"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3">
    <a class="btn btn-back" asp-page="List">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
