@page
@model ProjektInzynierski.Pages.Exam.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.IdNauczyciela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.IdNauczyciela)
        </dd>
        @foreach(var wynik in Model.Wyniki)
        {
            <dt class="col-sm-2">
                @Html.Raw("Wyniki")
            </dt>
            <dd class="col-sm-10">
                @Html.Raw($"{wynik.nazwisko} {wynik.imie} {wynik.wiadomosc}")
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./List">Wróć do listy testów</a>
</div>
