@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Twoje konto";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Na tej stronie możesz usunąć swoje konto.</p>
        <p>
            <strong>Uwaga! Ta czynność na stałe usunie Twoje konto, tej operacji nie da się cofnąć.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-delete">Usuń konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
