@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie wysłania prośby o zresetowanie hasła";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Dziękujemy za wysłanie prośby o zresetowanie hasła. Sprawdź swoją skrzynkę pocztową w celu uzyskania dalszych instrukcji.
    </p>
    <p>
        <a asp-page="./Login" class="btn btn-primary">Powrót do logowania</a>
    </p>
</div>
