html {
    font-size: 14px;
}
.false{
    border: 2px solid red;
    padding: 5px;

}
.true {
    border: 2px solid green;
    padding: 5px;
}
.good {
    border: 2px solid lightgreen;
    padding: 5px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff;
    color: #000;
}
        body.dark-mode {
            background-color: #333333;
            color: #fff;
        }

.navbar-nav .nav-item {
    margin-right: 10px;
}

    .navbar-nav .nav-item .nav-link {
        color: #000;
        padding: 10px 15px;
        border-radius: 5px;
    }

        .navbar-nav .nav-item .nav-link:hover {
            background-color: #B85600;
            color: #fff;
        }

/* g³ówne zak³adki */
.custom-navbar {
    margin-right: auto !important;
}

/* tryb jasny */
body:not(.dark-mode) .navbar-brand {
    color: #000;
}

    body:not(.dark-mode) .navbar-brand:hover {
        color: #000;
    }

body:not(.dark-mode) .navbar-nav .nav-item .nav-link {
    color: #000;
}

body:not(.dark-mode) .text1 {
    color: #000;
}

/* tryb ciemny */
body.dark-mode .navbar-brand {
    color: #fff;
}

body.dark-mode .navbar-nav .nav-item .nav-link {
    color: #fff;
}

    body.dark-mode .navbar-nav .nav-item .nav-link:hover {
        background-color: #B85600;
        color: #fff;
    }

body.dark-mode .text1 {
    color: #fff;
}

body.dark-mode .text-muted {
    color: #EC8232 !important;
}

/* przyciski */
.btn-create,
.btn-primary,
.btn-edit,
.btn-details,
.btn-show-hide {
    color: #fff;
    background-color: #B85600;
    border-color: #914400;
    font-weight: bold;
    border-radius: 10px;
}

    .btn-primary:hover,
    .btn-edit:hover,
    .btn-details:hover,
    .btn-create:hover,
    .btn-show-hide:hover {
        color: #fff;
        background-color: #EC8232;
        border-color: #B85600;
        font-weight: bold;
    }

.btn-back {
    color: #B85600;
    background-color: #fff;
    border-color: #B85600;
    font-weight: bold;
    border-radius: 10px;
}

    .btn-back:hover {
        color: #B85600;
        background-color: #F8D2B4;
        border-color: #B85600;
        font-weight: bold;
    }

body.dark-mode .btn-back {
    color: #EC8232;
    background-color: #333333;
    border-color: #EC8232;
    font-weight: bold;
    border-radius: 10px;
}

    body.dark-mode .btn-back:hover {
        color: #EC8232;
        background-color: #4d4c4c;
        border-color: #EC8232;
        font-weight: bold;
    }

.btn-delete {
    color: #fff;
    background-color: #b52d3a;
    border-color: #A41623;
    font-weight: bold;
    border-radius: 10px;
}
    .btn-delete:hover {
        color: #fff;
        background-color: #d62b3b;
        font-weight: bold;
    }

.table > tbody > tr.no-border > td,
.table > tbody > tr.no-border > th {
    border: none !important;
}

.table > tbody > tr.border-orange > td,
.table > tbody > tr.border-orange > th {
    border-bottom: 1px solid #EC8232 !important;
}

body.dark-mode .table > tbody > tr > td,
body.dark-mode .table > tbody > tr > th {
    border-bottom: 1px solid #555;
}

.column1 {
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
}

.answer1 {
    padding-right: 20px;
}

.registration-links {
    margin-top: 20px;
}

/* okno z informacj¹ */
.info-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
    border: 1px solid #888;
}

body.dark-mode .info-section {
    background-color: #262626;
    border: 1px solid #444;
    color: #fff;
}

.link {
    color: #B85600;
    text-decoration: none;
}

    .link:hover {
        color: #8c4201;
        text-decoration: underline;
    }

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 6px;
}

body.dark-mode ::-webkit-scrollbar-track {
    background-color: #333;
}

body.dark-mode ::-webkit-scrollbar-corner {
    background-color: #333;
}

::selection {
    background-color: #B85600;
    color: #fff;
}

select::selection {
    background-color: #B85600 !important;
    color: #fff;
}

*:focus {
    outline-width: 4px !important;
    outline-style: solid !important;
    outline-color: #f1f1f1 !important;
    border: #fff !important;
}

body.dark-mode *:focus {
    outline-width: 4px !important;
    outline-style: solid !important;
    outline-color: #444 !important;
    border: #333 !important;
}

/* tryb ciemny - pola formularzy */
body.dark-mode form input[type="text"],
body.dark-mode form input[type="password"],
body.dark-mode form input[type="email"],
body.dark-mode form input[type="number"],
body.dark-mode form input[type="datetime-local"],
body.dark-mode form select,
body.dark-mode form #searchText,
body.dark-mode form input:-webkit-autofill,
body.dark-mode form input:-webkit-autofill:focus,
body.dark-mode form textarea:-webkit-autofill,
body.dark-mode form textarea:-webkit-autofill:focus {
    background-color: #262626;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 30px #262626 inset;
}

    body.dark-mode form select:focus,
    body.dark-mode form #searchText:focus {
        background-color: #262626;
        color: #fff;
    }

/* tryb ciemny - podpowiedzi w wyszukiwarce */
body.dark-mode .ui-autocomplete {
    background-color: #262626;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 30px #262626 inset;
}

    body.dark-mode .ui-autocomplete.ui-widget-content a {
        color: #fff;
    }

        body.dark-mode .ui-autocomplete.ui-widget-content a.ui-state-focus {
            background-color: #555;
            color: #fff;
        }

    body.dark-mode .ui-autocomplete.ui-widget-content {
        border: 1px solid #fff;
    }




@media (max-width: 575px) {
    html {
        font-size: 8px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete,
    .btn-primary {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    html {
        font-size: 15px;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete,
    .btn-primary {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        padding: 20px;
    }

    .btn-create {
        margin-bottom: 20px;
    }

    table {
        font-size: 16px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete,
    .btn-primary {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 1201px) and (max-width: 1380px) {
    .container {
        padding: 20px;
    }

    .btn-create {
        margin-bottom: 20px;
    }

    table {
        font-size: 16px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete {
        margin-bottom: 10px;
    }

    .btn-primary {
        margin-top: 10px;
        display: block;
    }
}
