html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    margin-bottom: 60px;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

    .navbar-nav .nav-item .nav-link {
        color: #000000;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .navbar-nav .nav-item .nav-link:hover {
        background-color: #B85600;
        color: #fff;
    }

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.btn-create {
    background-color: #B85600;
    color: #fff;
}

.btn-edit,
.btn-details {
    background-color: #EA7317;
    color: #fff;
}

    .btn-edit:hover,
    .btn-details:hover,
    .btn-create:hover {
        background-color: #EC8232;
        color: #fff;
    }

.btn-danger {
    background-color: #A41623;
    color: #fff;
}

.btn-back {
    color: #B85600;
    background-color: #fff;
    border-color: #B85600;
}

    .btn-back:hover {
        color: #B85600;
        background-color: #F8D2B4;
        border-color: #B85600;
    }

.btn-delete {
    color: #A41623;
    background-color: #fae6e6;
    border-color: #A41623;
    border-width: 2px;
}

    .btn-delete:hover {
        color: #FF0000;
        background-color: #F8D2B4;
        border-color: #FF0000;
    }