html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff;
    color: #000;
}
        body.dark-mode {
            background-color: #333333;
            color: #fff;
        }


            /* Styl dla trybu ciemnego */
body.dark-mode .text1 {
    color: #fff;
}

/* Styl dla trybu jasnego (domyœlny) */
body:not(.dark-mode) .text1 {
    color: #000;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

    .navbar-nav .nav-item .nav-link {
        color: #000;
        padding: 10px 15px;
        border-radius: 5px;
    }

        .navbar-nav .nav-item .nav-link:hover {
            background-color: #B85600;
            color: #fff;
        }

/* g³ówne zak³adki */
.custom-navbar {
    margin-right: auto !important;
}

/* tryb jasny */
body:not(.dark-mode) .navbar-brand {
    color: #000;
}

    body:not(.dark-mode) .navbar-brand:hover {
        color: #000;
    }

body:not(.dark-mode) .navbar-nav .nav-item .nav-link {
    color: #000;
}

/* tryb ciemny */
body.dark-mode .navbar-brand {
    color: #fff;
}

body.dark-mode .navbar-nav .nav-item .nav-link {
    color: #fff;
}

    body.dark-mode .navbar-nav .nav-item .nav-link:hover {
        background-color: #B85600;
        color: #fff;
    }

.btn-create,
.btn-primary,
.btn-edit,
.btn-details,
.btn-danger,
.btn-back,
.btn-delete {
    color: #fff;
}

.btn-create,
.btn-primary {
    background-color: #B85600;
}

    .btn-primary:hover {
        background-color: #EC8232;
    }

.btn-edit,
.btn-details {
    background-color: #EA7317;
}

    .btn-edit:hover,
    .btn-details:hover,
    .btn-create:hover {
        background-color: #EC8232;
    }

.btn-danger {
    background-color: #A41623;
}

.btn-back {
    color: #B85600;
    background-color: #fff;
    border-color: #B85600;
}

    .btn-back:hover {
        color: #B85600;
        background-color: #F8D2B4;
        border-color: #B85600;
    }

.btn-delete {
    background-color: #fae6e6;
    border-color: #A41623;
    border-width: 2px;
}

    .btn-delete:hover {
        color: #FF0000;
        background-color: #F8D2B4;
        border-color: #FF0000;
    }

.column1 {
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
}

.registration-links {
    margin-top: 20px;
}

.link {
    color: #B85600;
    text-decoration: none;
}

    .link:hover {
        color: #8c4201;
        text-decoration: underline;
    }

/*
body.dark-mode form input[type="text"],
body.dark-mode form input[type="password"],
body.dark-mode form input[type="email"],
body.dark-mode form select {
    background-color: #262626;
    color: #fff;
    border-color: #fff;
}
*/


body.dark-mode form input[type="text"],
body.dark-mode form input[type="password"],
body.dark-mode form input[type="email"],
body.dark-mode form select,
body.dark-mode form input:-webkit-autofill,
body.dark-mode form input:-webkit-autofill:focus,
body.dark-mode form textarea:-webkit-autofill,
body.dark-mode form textarea:-webkit-autofill:focus {
    background-color: #262626;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 30px #262626 inset;
}

    body.dark-mode form select:focus {
        background-color: #262626;
        color: #fff;
    }






@media (max-width: 575px) {
    html {
        font-size: 8px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete,
    .btn-primary {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    html {
        font-size: 15px;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete,
    .btn-primary {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        padding: 20px;
    }

    .btn-create {
        margin-bottom: 20px;
    }

    table {
        font-size: 16px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete,
    .btn-primary {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 1201px) and (max-width: 1380px) {
    .container {
        padding: 20px;
    }

    .btn-create {
        margin-bottom: 20px;
    }

    table {
        font-size: 16px;
    }

    .btn-edit,
    .btn-details,
    .btn-delete {
        margin-bottom: 10px;
    }

    .btn-primary {
        margin-top: 10px;
        display: block;
    }
}
