@page
@model TestTest.Pages.Answer.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Odpowiedzi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Odpowiedzi.IdOdpowiedz" />
            <div class="form-group">
                <label asp-for="Odpowiedzi.IdPytanie" class="control-label"></label>
                <select asp-for="Odpowiedzi.IdPytanie" class="form-control" asp-items="ViewBag.IdPytania"></select>
                <span asp-validation-for="Odpowiedzi.IdPytanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odpowiedzi.TrescOdpowiedzi" class="control-label"></label>
                <input asp-for="Odpowiedzi.TrescOdpowiedzi" class="form-control" />
                <span asp-validation-for="Odpowiedzi.TrescOdpowiedzi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Odpowiedzi.CzyPoprawny" /> @Html.DisplayNameFor(model => model.Odpowiedzi.CzyPoprawny)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
