@page
@model ProjektInzynierski.Pages.Group.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Usuń grupę</h1>
<hr />
<h4 class="text-danger">Czy na pewno chcesz usunąć grupę?</h4>
<div>
    <h4>Grupy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupy.IdNauczyciela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupy.IdNauczyciela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupy.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupy.Nazwa)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Grupy.IdGrupy" />
        <input type="submit" value="Delete" class="btn btn-delete" />
        <a class="btn btn-back ml-2" asp-page="List">Powrót</a>
    </form>
</div>
